.sidebar {
    position: sticky;
    top: 64px;
    height: 100%;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;   
    border-right: 1px solid #CCC;
}

.content {
    margin-top: 64px;
}

.margin-top-25 
{
    margin-top: 25px;
}

.actions-column {
    width: 160px;
}

.action-link {
    margin-right: 10px;
}

.form-container {
    border: 1px solid #CCC;
    padding: 20px;
}

.form-container h3 {
    padding-bottom: 10px;
}